body {
    background-color: lightblue;
    
    }
    

    header { 
    position: static;
    
    }


    .container {
    color:black;   
    width: 100%;
    }

    .form-group {
        width: 80%;
        padding-left: 20%;

    }

